.DayPicker {
    width: 100%;
}

.DayPicker-NavBar {
    display: none;
}

.DayPicker-Weekday {
    font-size: 14px;
    padding: 0 0 8px 0;
    color: #1a0c07;
    opacity: 0.6;
}

.DayPicker-Caption {
    text-align: center !important;
    margin: 20px 0 25px 0;
    font-size: 16px;
    color: #111111;
    color: #1a0c07;
}

.DayPicker-Month {
    margin: 0 !important;
    width: 100%;
    height: 212px;
}

.DayPicker-wrapper {
    padding: 0 !important;
}

.DayPicker-Day {
    font-size: 15px;
    position: relative;
    z-index: 1;
    color: #1a0c07;
}

.DayPicker-Day.DayPicker-Day--highlighted:before {
    z-index: -1;
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 50%;
    bottom: 0px;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffdcb0;
    content: '';
    border-radius: 100%;
}

.pink .over_month .DayPicker-Day.DayPicker-Day--highlighted:before {
    transform: translate(-48%, -52%);
}

.beige .over_month .DayPicker-Day.DayPicker-Day--highlighted:before {
    transform: translate(-49%, -49%);
}

.pink .DayPicker-Day.DayPicker-Day--highlighted:before {
    background-color: #ffd5be;
}