@import '$scss/utils';

.article {
    padding: 14px 42px;
    color: #1a0c07;
    position: relative;

    .dimed {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 2;
    }
}