@import '$scss/utils';

.article {
    padding: 50px 0 60px 0;

    .txt_footer {
        &:nth-child(1) {
            margin-bottom: 6px;
        }

        font-size: 12px;
        opacity: 0.2;
        text-align: center;
    }
}

/* 테마 */
.beige {
    background-color: $theme-dark-beige;
}

.pink {
    background-color: $theme-dark-pink;

    .txt_footer {
        color: #1a0c07;
    }
}