@import '$scss/utils';

.article {
  position: relative;

  .dimed {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
  }

  .btn_footer {
    font-size: 13px;
    padding: 15px 20px;
    background-color: #f9f9f9;
  }
}