@import '$scss/utils';

.article {
    background-color: $theme-beige;
    padding: 50px 30px;
    text-align: center;

    .txt_intro {
        font-size: 28px; 
        font-weight: 500; 
        margin-bottom: 30px;
    }

    .wrap_name {
        margin: 40px 0 25px 0;
        @include flex-container();
        @include align-items(center);
        @include justify-content(center);

        .txt_divide {
            margin: 0 12px;
            font-size: 18;
            font-weight: 500;
            color: rgba(26, 12, 7, 0.5);
        }

        .txt_name {
            font-size: 21px;
        }
    }
}