@import '$scss/utils';

.article {
    padding: 10px 0 70px;
    background-color: $theme-beige;

    .txt_title {
        text-align: center;
        margin-bottom: 20px;
    }
    .wrap_button {
        @include flex-container();
        @include justify-content(center);

        .ico_kakao {
            margin-right: 10px;
        }
    }   
}