@import '$scss/utils';

.container {
    max-width: 420px;
    @include center();
}

.container.beige{
    background-color: $theme-beige;
    color: $beige-base-text-color;
    font-family: 'MaruBuri-Regular', serif !important;
    font-size: 15px;

    a {
        color: $beige-base-text-color;
    }
}

.container.pink{
    background-color: $theme-pink;
    color: $pink-base-text-color;
    font-size: 14px;

    a {
        color: $pink-base-text-color;
    }
}